.myrient-text-input {
    color: #ffffff;
    background-color: #262a32;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 20px;
    box-sizing: content-box;
}

.myrient-button {
    padding: 0.3em;
    border-radius: 0.5em;
    border-width: medium;
    background-color: #262a32;
    color: white;
    font-weight: bold;
}

.myrient-button:hover {
    cursor: pointer;
}

.container-general {
    width: 80%;
    margin: auto;
    text-align: center;
}

.code-text-container {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-height: 12rem;
    overflow-y: auto;
}

#list th:nth-of-type(2),
#list td:nth-of-type(2) {
    text-align: unset !important;
}

#list th:nth-of-type(3) {
    text-align: right;
}

#list td:nth-of-type(3) {
    text-align: center;
}

#list td:nth-of-type(1) {
    width: 10em;
}
